@import "../../../general-variables.scss";


.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.background-map {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
}

.overlay-left {
    top: 30px;
    left: 10px;
    position: absolute;
    z-index: 2;
    display: flex;
    min-width: 400px;
    align-items: center;
}
