@import "../../../general-variables.scss";


<<<<<<< HEAD
.container {
    position: relative;
    display: flex;
    iframe {
        border: 0;
    }

    .background-map {
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .overlay-left {
        top: 60%;
        transform: translateY(-50%);
        left: 10px;
        position: absolute;
        z-index: 2;
        display: flex;
        min-width: 400px;
        align-items: center;
    }

}
=======
.map-container {
    height: 100%;
    width: 100%;
    display: flex;


    .background-map {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        display: flex;
    }
    
    .overlay-left {
        top: 10px;
        left: 0;
        position: absolute;
        z-index: 2;
        display: flex;
        min-width: 400px;
    }
    
    .overlay-calculations {
        bottom: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 50%;
        position: absolute;
        z-index: 2; 
        display: flex;
    }
    
}

>>>>>>> origin/805-trip_calculations_component
