@import "../../../../../general-variables.scss";


.list-card-wrapper{
    padding: $boxPadding;
    width: 100%;

    .list-card-rows{
        display: flex;
        flex-direction: column;
        padding-bottom: 8px;
    }

    .list-card-row{
        flex: 1;
    }
    .view-all-button{
        display: flex;
        justify-content: center;    
    }
}
