@import "../../general-variables.scss";

.navbar {
  background-color: white;
  color: $principal_color;
  position: fixed;
  width: 98%;
  z-index: 10;
  padding: 8px 20px;
  height: 45px;
  list-style-type: none;
<<<<<<< HEAD
  background-color: $principal_color;
=======
  //background-color: $principal_color;
>>>>>>> 06f53c6219b5ae572635dfd814b193202ff036c7
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-nav {
    display: flex;
    align-items: center;

    .logo {
      height: 17px;
      margin-right: 20px;
      margin-bottom: 0px;
      margin-top: auto;
    }
  }

  .dropbtn {
    cursor: pointer;
    color: $principal_color;
    font-size: 16px;
    border: none;
    padding: 10px 0;
  }

  .dropdown {
    z-index: 100;
    position: relative;
    display: inline-block;
    padding: 0 1.5%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5rem;
  }

  .dropdown-content a {
    color: black;
    padding: 0.45rem 0.75rem;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .top-hover:hover {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .bottom-hover:hover {
    border-radius: 0 0 0.5rem 0.5rem ;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

}

#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;

  ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    float: left;
  }

  li {
    width: unset;
    margin-right: 10px;

    a {
      justify-content: center;
      box-sizing: border-box;
      -webkit-tap-highlight-color: #f1f1f3;
      background-color: transparent;
      letter-spacing: 0.009375rem;
      outline: 0;
      border: 0;
      margin: 0;
      align-items: center;
      -webkit-box-pack: center;
      cursor: pointer;
      text-align: center;
      min-width: 35px;
      vertical-align: middle;
      box-shadow: none;
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      box-shadow: none;
      border-radius: 4px;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      line-height: 1.5rem;
      font-size: 1rem;
      padding: 6px 12px;
      color: $principal_color;
      padding: 6px 8px;
      position: relative;
      transition: color .3s;

    }

    a:hover {
      color: rgba(52, 52, 52, 0.986);
    }

    float: left;
  }

}