@import "../../general-variables.scss";

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 8px 20px;
  height: 35px;
  list-style-type: none;
  overflow: hidden;
  background-color: $principal_color;
  color: white;
  display: flex;
  align-items: center;

  .logo {
    height: 17px;
    margin-right: 20px;
    margin-bottom: 1px;
  }
}

#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;

  ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    float: left;
  }

  li {
    width: unset;
    margin-right: 10px;

    a {
      justify-content: center;
      box-sizing: border-box;
      -webkit-tap-highlight-color: #f1f1f3;
      background-color: transparent;
      letter-spacing: 0.009375rem;
      outline: 0;
      border: 0;
      margin: 0;
      align-items: center;
      -webkit-box-pack: center;
      cursor: pointer;
      text-align: center;
      min-width: 35px;
      vertical-align: middle;
      box-shadow: none;
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      box-shadow: none;
      border-radius: 4px;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      line-height: 1.5rem;
      font-size: 1rem;
      padding: 6px 12px;
      color: #F1F1F3;
      padding: 6px 8px;
      position: relative;
      transition: color .3s;

    }
    a:hover {
      color: pink;
    }
    float: left;
  }

}