@import "../../../../general-variables.scss";

h1 {
    text-decoration: solid;
    color: pink;
}

.form {
    // background: linear-gradient(to bottom, $principal-color, $secondary-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    outline: 0;
    border-width: 0px 0px 2px 0px;
    border-color: $secondary-color;
    height :5vh;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0);
    color: $secondary-color;
}
input:focus {
    color: pink;
    border-color: pink;
}
input::placeholder {
    color: $secondary-color;
}
input:focus::placeholder {
    color: pink;
}

button {
    margin-top: 5vh;
    width: 101%;
    height: 50px;
    overflow: hidden;
    border-radius: 20px;
    border-width: 0;
    color: $principal-color;
    background-color: $secondary-color;
}
button:hover {
    background-color: pink;
}

.search-form {
    margin: 5%;
}

.date-label{
    color: $secondary-color;
}