@import "../../../../general-variables.scss";




.search-form {
    text-align: left;
    margin: 5%;
    max-width: 400px;
    width: 80%;

    h1 {
        text-decoration: solid;
        color: $dark;
    }
    .form {
        // background: linear-gradient(to bottom, $principal-color, $secondary-color);
        padding: 5%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.6rem;
        box-shadow: $shadowSmall;
        background-color: white;
    }

    .submit {
        button{
            background-color: $principal-color;
        }
        .save-button{
            margin-left: 15px;
        }
    }
    
    .double-line {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .double-line-div {
            div {
                margin-top: 0;
            }
            
            margin-top: 12px;
        }
        .margin {
            margin-right: 10px;
        }
    }
    

  /*   input {
        font-weight: 600;
        font-size: 1rem;
        border: none;
        padding: 3% 0;
        outline: none;
        border-bottom: 1px solid $grey;
        height :5vh;
        width: 100%;
        color: $secondary-color;
    } */

/*     label {
        padding: 0 5%;
    }

    .top-input{
        input{
            border-top-left-radius: 0.6rem;
            border-top-right-radius: 0.6rem;
        }
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
    }
    .bottom-input{
        border: 0;
    } */
    
/*     button {
        height: 50px;
        overflow: hidden;
        border-bottom-left-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
        border-width: 0;
        color: $white;
        font-weight: 800;
        background-color: $principal-color;
    }
    button:hover {
        background-color: $secondary-color;
    }
    .date-label{
        color: $secondary-color;
    } */
}

