.box {
    max-height: 1000px !important;
}

@import "../../../../general-variables.scss";



.business-trip-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .business-trip-input {
        margin-bottom: 1em;
    }

    .trip-form-buttons {
        display: flex;
        justify-content: left;
        width: 100%;
    }

    .business-trip-input>label {
        margin-bottom: 0.5rem;
    }

    .cancel-trip-button {
    }

    .add-trip-button {
        margin-right: 1rem;
    }

    .car-element {

        // background: 'transparent',
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .close-icon {
        height: 0.75em;
        cursor: pointer;
        color: gray;
    }
}