.box {
    // wanna fix height issue here, is ugly after changes to home
}

.bottom-text {
    padding-top: 10rem;
    text-align: center;
}

.image-div {
    margin-top: 5rem;
    
    .image {
        height: 10rem;
    }
}