.test33 {
    height: 10px;
    margin-top: 100px;
}

.bottom-text {
    padding-top: 10rem;
    text-align: center;
}

.image-div {
    margin-top: 5rem;
    
    .image {
        height: 10rem;
    }
}