/* 
.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
  margin: 1rem;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}

.home-grid > div {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */
