@import "../../../../general-variables.scss";

.box {
    display: flex;

    .card-content {
        margin:1rem
    }
    h1 {
        color: gray;
    }
    p {
        color: gray;
        font-weight: 700;
    }
}