$principal-color: #372D87;
$secondary-color: #9C89B8;
$white: #ffffff;
$grey: #b3b3b347;
$green: #5ca34d;
$blue: #49B6FF;
$dark: #4C4C47;

$fontSizeTitle1: 10vh;
$fontWeightBold: 600;

$lineHeight: 40px;
$fontSizeText: 1.2em;
$fontSizeTextSmall: 0.9em;

$shadowBig: rgba(0, 0, 0, 0.441) 0px 0px 10px;
$shadowSmall: rgba(0, 0, 0, 0.441) 0px 0px 2px;