@import "../../../general-variables.scss";

.toppage {
    display: flex;
    flex-direction: row;
    .toppage-left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
    }
    
    .toppage-right {
        flex: 1.2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

