@import "../../../general-variables.scss";

.toppage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    .toppage-left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
    }
    
    .toppage-right {
        flex: 1.2;
        display: flex;
        align-items: center;
        justify-content: center;
        canvas {
            width: 100% !important;
        }
    }

}

