@import "../../../general-variables.scss";

.toppage {
    display: flex;
    flex-direction: row;
    .toppage-left {
        h1{
            margin-top: -60px;
            font-size: $fontSizeTitle1;
            text-align: left;
            color: $principal_color;
        }
        flex: 1;
        display: flex;
        align-items: start;
        justify-content: center;
        margin-bottom: 2%;
        flex-direction: column;
        .toppage-left-title{
            margin-left: 13vw;
        }
        .toppage-left-button{
            margin-left: 13vw;
        }
        button {
            font-size: 16px;
            height: 48px;
            width: 173px;
            font-weight: 500;
            border-radius: 30px;
        }
    }
    
    .toppage-right {
        flex: 1.2;
        display: flex;
        align-items: center;
        justify-content: center;
        canvas {
            width: 100% !important;
        }
    }

}

