@import "../../general-variables.scss";

.landing{
    .page {
        min-height: 100vh;
        height: 100vh;
    }

    button {
        background-color: $blue;
    }
    .landing-spacer{
        height: 25vh;
        background-color: $principal-color;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            width: 60%;
            font-weight: 400;
        }
    }
}

