@import "../../../../../general-variables.scss";

.company-home-wrapper{
  margin: 1% 2% 3% 2%;
  text-align: left;
  h3{
    font-size: $fontSizeTextSmall;
    font-weight: 600;
    color: rgb(70, 70, 70);
    margin: 25px 0 5px 0;
  }
  .inside-title{
    padding-bottom: 16px;
  }
  .inside-title-partial{
    padding-bottom: 16px;
  }
}
