@import "../../general-variables.scss";

.map-container {
    position: relative;
    display: flex;
    iframe {
        border: 0;
    }

    .background-map {
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .overlay-left {
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        position: absolute;
        z-index: 2;
        display: flex;
        min-width: 400px;
        align-items: center;
    }
    .overlay-calculations {
        position: absolute;
        bottom: 0;
        right: 5%;
        width: 500px;
        z-index: 30;
    }
}